<article class="about container">
  <h1 class="text-center mb-5">About</h1>
  <p>
    <strong>Diversification of Content Formats:</strong> <br /> Elearning had evolved beyond traditional
    text-based courses to include a variety of multimedia formats such as
    videos, interactive simulations, podcasts, and virtual reality experiences.
    This shift aimed to enhance engagement.
  </p>
  <p>
    <strong>Personalization and Adaptive Learning:</strong> <br /> Advances in technology allowed for
    more personalized learning experiences. Adaptive learning platforms used
    data and analytics to tailor course content and pacing to individual student
    needs, improving learning outcomes.
  </p>
  <p>
    <strong>Corporate Training and Upskilling:</strong> <br /> Organizations recognized the value of
    eLearning for employee training and development. Elearning platforms were
    used to deliver training programs that focused on enhancing skills and
    maintaining a competitive workforce.
  </p>

  <div class="follow text-center">
    <h1>Follow Us</h1>
    <a href="#">LinkedIn</a>
    <a href="#">Youtube</a>
    <a href="#">Github</a>
    <a href="#">Twitter</a>
  </div>
</article>
